# Capítulo 11 - Tipo de dados datetime

## Seção 11.2 - Objeto datetime do Python

Existe a biblioteca datetime para trabalhar com data/hora:

In [5]:
from datetime import datetime

hoje = datetime.now()

print('Hoje:', hoje)

nascimento = datetime(1982, 10, 12)

print('Dias desde o nascimento:', hoje - nascimento)

Hoje: 2022-04-27 17:35:40.359324
Dias desde o nascimento: 14442 days, 17:35:40.359324

## Seção 11.3 - Conversão para datetime

Podemos usar a função to_datetime para converter um objeto para datetime:

In [9]:
import pandas as pd

ebola = pd.read_csv('../data/country_timeseries.csv')

print('Início do dataframe Ebola:')
print(ebola.iloc[:5, :5])

print('-------------------------------------------------------')
print('Note que o tipo da coluna Date é object (nesse caso é uma string genérica):')
print(ebola.info())

print('-------------------------------------------------------')
print('Criando a coluna date_dt com o tipodatetime:')
ebola['date_dt'] = pd.to_datetime(ebola['Date'], format='%m/%d/%Y')
print(ebola.info())

Início do dataframe Ebola:
         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286           NaN         8157.0                NaN
4  12/31/2014  284        2730.0         8115.0             9633.0
-------------------------------------------------------
Note que o tipo da coluna Date é object (nesse caso é uma string genérica):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 122 non-null    object
 1   Day                  122 non-null    int64
 2   Cases_Guinea         93 non-null     float64
 3   Cases_Liberia        83 non-null     float64
 4   Cases_SierraLeone    87 non-null     float64
 5   Cases_Nigeria        38 non-null     float64
 6   Cases_Senegal        25 non-null     float64
 7   Cases_UnitedStates   18 non-null     float64
 8   Cases_Spain          16 non-null     float64
 9   Cases_Mali           12 non-null     float64
 10  Deaths_Guinea        92 non-null     float64
 11  Deaths_Liberia       81 non-null     float64
 12  Deaths_SierraLeone   87 non-null     float64
 13  Deaths_Nigeria       38 non-null     float64
 14  Deaths_Senegal       22 non-null     float64
 15  Deaths_UnitedStates  18 non-null     float64
 16  Deaths_Spain         16 non-null     float64
 17  Deaths_Mali          12 non-null     float64
dtypes: float64(16), int64(1), object(1)
memory usage: 17.3+ KB
None
-------------------------------------------------------
Criando a coluna date_dt com o tipodatetime:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 122 non-null    object
 1   Day                  122 non-null    int64
 2   Cases_Guinea         93 non-null     float64
 3   Cases_Liberia        83 non-null     float64
 4   Cases_SierraLeone    87 non-null     float64
 5   Cases_Nigeria        38 non-null     float64
 6   Cases_Senegal        25 non-null     float64
 7   Cases_UnitedStates   18 non-null     float64
 8   Cases_Spain          16 non-null     float64
 9   Cases_Mali           12 non-null     float64
 10  Deaths_Guinea        92 non-null     float64
 11  Deaths_Liberia       81 non-null     float64
 12  Deaths_SierraLeone   87 non-null     float64
 13  Deaths_Nigeria       38 non-null     float64
 14  Deaths_Senegal       22 non-null     float64
 15  Deaths_UnitedStates  18 non-null     float64
 16  Deaths_Spain         16 non-null     float64
 17  Deaths_Mali          12 non-null     float64
 18  date_dt              122 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(16), int64(1), object(1)
memory usage: 18.2+ KB
None

Ao abrir um arquivo usando read_csv nós podemos já especificar as colunas de data e como o pandas deve ler o formato de data:

In [16]:
ebola = pd.read_csv('../data/country_timeseries.csv', parse_dates=[0])

print('O tipo do primeiro registro da primeira coluna (Date) é:', type(ebola.iloc[0, 0]))
print('-------------------------------------------------------')
print('Vendo o info depois de ler o csv:')
print(ebola.info())

O tipo do primeiro registro da primeira coluna (Date) é: <class 'pandas._libs.tslibs.timestamps.Timestamp'>
-------------------------------------------------------
Vendo o info depois de ler o csv:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 122 non-null    datetime64[ns]
 1   Day                  122 non-null    int64
 2   Cases_Guinea         93 non-null     float64
 3   Cases_Liberia        83 non-null     float64
 4   Cases_SierraLeone    87 non-null     float64
 5   Cases_Nigeria        38 non-null     float64
 6   Cases_Senegal        25 non-null     float64
 7   Cases_UnitedStates   18 non-null     float64
 8   Cases_Spain          16 non-null     float64
 9   Cases_Mali           12 non-null     float64
 10  Deaths_Guinea        92 non-null     float64
 11  Deaths_Liberia       81 non-null     float64
 12  Deaths_SierraLeone   87 non-null     float64
 13  Deaths_Nigeria       38 non-null     float64
 14  Deaths_Senegal       22 non-null     float64
 15  Deaths_UnitedStates  18 non-null     float64
 16  Deaths_Spain         16 non-null     float64
 17  Deaths_Mali          12 non-null     float64
dtypes: datetime64[ns](1), float64(16), int64(1)
memory usage: 17.3 KB
None

## Seção 11.5 - Extraindo componentes de datas

Podemos extrair partes do datetime. Por exemplo, o dia, hora, minuto, segundo, mês etc:

In [18]:
print(f'Hoje é dia {hoje.day} do mês {hoje.month}. Estamos no ano de {hoje.year}.')

Hoje é dia 27 do mês 4. Estamos no ano de 2022.